{% load static %}
<section id="works">

    <div class="row">

      <div class="twelve columns align-center">
        <h1>Some of our recent portfolios</h1>
      </div>

      <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-halves">

        <div class="columns portfolio-item">
          <div class="item-wrap">
            <a href="portfolio.html">
              <img alt="" src="{% static 'blog/images/portfolio/geometrics.jpg' %}">
              <div class="overlay"></div>
              <div class="link-icon"><i class="fa fa-link"></i></div>
            </a>
            <div class="portfolio-item-meta">
              <h5><a href="portfolio.html">Geometrics</a></h5>
              <p>Illustration</p>
            </div>
          </div>
        </div>

        <div class="columns portfolio-item">
          <div class="item-wrap">
            <a href="portfolio.html">
              <img alt="" src="{% static 'blog/images/portfolio/console.jpg' %}">
              <div class="overlay"></div>
              <div class="link-icon"><i class="fa fa-link"></i></div>
            </a>
            <div class="portfolio-item-meta">
              <h5><a href="portfolio.html">Console</a></h5>
              <p>Web Development</p>
            </div>
          </div>
        </div>

        <div class="columns portfolio-item s-first">
          <div class="item-wrap">
            <a href="portfolio.html">
              <img alt="" src="{% static 'blog/images/portfolio/camera-man.jpg' %}">
              <div class="overlay"></div>
              <div class="link-icon"><i class="fa fa-link"></i></div>
            </a>
            <div class="portfolio-item-meta">
              <h5><a href="portfolio.html">Camera Man</a></h5>
              <p>Photography</p>
            </div>
          </div>
        </div>

        <div class="columns portfolio-item">
          <div class="item-wrap">
            <a href="portfolio.html">
              <img alt="" src="{% static 'blog/images/portfolio/into-the-light.jpg' %}">
              <div class="overlay"></div>
              <div class="link-icon"><i class="fa fa-link"></i></div>
            </a>
            <div class="portfolio-item-meta">
              <h5><a href="portfolio.html">Into The Light</a></h5>
              <p>Branding</p>
            </div>
          </div>
        </div>

      </div>

    </div>

  </section> <!-- Works Section End-->
