<section  id="info">

  <div class="row">

      <div class="bgrid-quarters s-bgrid-halves">

        <div class="columns">
          <h2>Design a web page using HTML and CSS</h2>

          <p>Creating an attractive page will be difficult for those who are not experts in CSS. Without using CSS, you will not be able to make the web page, more attractive. So in order to make a web page, we need to have a knowledge of HTML and CSS. In this article, the main focus will be implementing CSS. In order to design a web page we need to first create an HTML web structure.
          </p>
        </div>

        <div class="columns">
          <h2>Responsive CSS and HTML</h2>

          <p>“Responsive design” refers to the idea that your website should display equally well in everything from widescreen monitors to mobile phones. It’s an approach to web design and development that eliminates the distinction between the mobile-friendly version of your website and its desktop counterpart. With responsive design, they’re the same thing.




          </p>
        </div>

        <div class="columns s-first">
          <h2>HTML 5 and CSS 3: The Techniques will Soon Be </h2>

          <p>HTML 5 is the next major version of HTML.  This will make it a lot easier for search engines and screenreaders to navigate our pages, and improve the web experience for everyone. In addition, HTML 5 will also include fancy APIs for drawing graphics on screen, storing data offline, dragging and dropping, and a lot more. Let's get started marking up the blog page.
          </p>
        </div>

        <div class="columns">
          <h2>Free of Charge HTML & CSS</h2>

          <p><strong>Top  Online Courses to learn Web Development using HTML and CSS:</strong><br>
               Foundations of Front-End Web Development,
              Learn HTML & CSS: How To Start Your Web Development Career,
               Master the Basics of HTML5 & CSS3: Beginner Web Development,
               HTML5 Simple Game Programming Preparation,
               A Complete Introductory Tutorial on HTML5.
          </p>
        </div>

      </div>

    </div>

</section> <!-- Info Section End-->
